# User-specific IntelliJ files.
.idea/dictionaries
.idea/shelf
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml
.idea/

# VS Code files.
.vscode
.settings

# Build artifacts.
out
target
.classpath
.project
